<style>
    .intro-btn {
        color: black;
    }
    .intro-btn:last-of-type {
        margin-left: 20px;
    }
    .explore-s {
        display: inline;
    }
</style>
<div class="container">
    <div class="intro-h">
        <h1><u>Bucket Life</u></h1>
        <h2>Create and track the things that you want to accomplish the most during your time on this Earth.</h2>
    </div>
    <!-- login and signup buttons -->
    <div style="display:inline;" ng-show="global_ctrl.session_expired">
        <p>Continue to the signup page to get started or login if you already have an account.</p>
        <a ui-sref="signup" class="waves-effect waves-light btn blue-grey lighten-3 intro-btn">Signup</a>
        <a ui-sref="login" class="waves-effect waves-light btn blue-grey lighten-3 intro-btn">Login</a>
    </div>
    <div style="display:inline;" ng-hide="global_ctrl.session_expired">
        <a ng-click="global_ctrl.login_introduction()" class="waves-effect waves-light btn blue-grey lighten-3 intro-btn">Profile</a>
    </div>
    <span id="explore-s"> <a ui-sref="explore" class="waves-effect waves-light btn blue-grey lighten-3 intro-btn">Explore</a> </span>
</div>