<style>
    #form-div {
        margin-top: 50px;
    }
    .signup-btn {
        color: black;
    }
    .back-btn {
        color: black;
        margin-top: 26px;
    }
    .center-content {
        text-align: center;
    }
</style>
<div class="container">
    <div id="form-div">
        <!--email input-->
        <div class="row">
            <div class="input-field col s12">
                <input ng-model="user_ctrl.signup_info.email" type="email" id="email-btn">
                <label for="email-btn">Email:</label>
            </div>
        </div>
        <!-- password input -->
        <div class="row">
            <div class="input-field col s12">
                <input ng-model="user_ctrl.signup_info.password" type="password" id="pw-btn">
                <label for="pw">Password:</label>
            </div>
        </div>
        <!-- confirm pw input -->
        <div class="row">
            <div class="input-field col s12">
                <input ng-model="user_ctrl.signup_info.confirm_password" type="password" id="pw-confirm-btn">
                <label for="pw-confirm-btn">Confirm Password:</label>
            </div>
        </div>
        <!-- sumbit btn -->
        <div class="center-content">
            <a ui-sref="profile" ng-click="user_ctrl.signup()" class="waves-effect waves-light btn blue-grey lighten-3 signup-btn">Sign Up</a>
            <br>
            <a ui-sref="introduction" class="waves-effect waves-light btn blue-grey lighten-3 back-btn">back to home</a>
        </div>
    </div>
</div>